.boutique-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.boutique-title {
    text-align: center;
    margin-bottom: 20px;
}

.sommaire {
    margin-bottom: 20px;
}

.sommaire h2 {
    margin-bottom: 10px;
}

.sommaire ul {
    list-style-type: none;
    padding: 0;
}

.sommaire li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sommaire li h3 {
    margin-top: 0;
}

.sommaire li p {
    margin: 5px 0;
}