/* styles.css */
.electronic-boutiques {
    display: flex;
        align-items: center;
        flex-direction: row;
            justify-content: center;
    flex-wrap: wrap;
  
    justify-content: space-around;
   
}

.category {
width: 20%;

    height: 80%;

   
}

.boutique-item {

  
    /* Adjust the width as needed */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutique-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.boutique-item h3 {
    margin-top: 10px;
    /* Adjust the spacing between the image and title */
    margin-bottom: 10px;
}

.boutique-item p {
    margin-bottom: 10px;
}

.boutique-item a {
    color: #007bff;
    /* Link color */
    text-decoration: none;
}

.boutique-item a:hover {
    text-decoration: underline;
}