.container-atelier-reparation {
    

    
    height: 100vh;

    /* Fixed width */

    /* Fixed height */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(46, 57, 65);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.square {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(46, 57, 65);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
