.container-atelier-reparation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,#ffffff, #1976D2);

}

.title {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(46, 57, 65);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.square {
    padding: 20px;
    text-align: center;
    border: 2px solid #007bff;
    border-radius: 10px;
    background: linear-gradient(to bottom, #b1ceeb, #ffffff);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(46, 57, 65);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
